POSTGRES_IMAGE=postgres:16
POSTGRES_CONTAINER_NAME=postgres-fin-new-app
POSTGRES_HOST=postgres-fin-new-app
POSTGRES_HOST_BIND=127.0.0.1
POSTGRES_HOST_PORT=5432
POSTGRES_CONTAINER_PORT=5432
POSTGRES_DB=financial_app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER_VERSION=16
POSTGRES_CHARSET=utf8

BACKEND_APP_ENV=dev
BACKEND_APP_DEBUG=1
XDEBUG_MODE=debug,develop
XDEBUG_CONFIG="client_host=host.docker.internal client_port=9003"
