###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change-me
APP_DEBUG=1
###< symfony/framework-bundle ###

DATABASE_URL=postgresql://financial_app_user:change-me@postgres-fin-new-app:5432/financial_app?serverVersion=16&charset=utf8
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
DEFAULT_URI=http://localhost
APP_SHARE_DIR=var/share
