parameters:
    level: 3
    paths:
        - src
    tmpDir: var/phpstan
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        - src/Entity
        - src/Repository
        - var (?)
        - vendor (?)
        - coverage (?)
