parameters:
    level: 3
    paths:
        - src
        - tests
    tmpDir: var/phpstan
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        - var
        - vendor
        - coverage
